<div class="contacto">
    <div>
        <form action="/contacto" method="post" class="formulario">
            <section class="form-contact">
                <h4>Contact Form</h4>
                <input class="controls" type="text" name="nombre" id="nombres" placeholder="Name">
                <input class="controls" type="email" name="email" id="nombres" placeholder="Email">
                <input class="controls" type="text" name="telefono" id="nombres" placeholder="Phone">
                <textarea name="comentarios" id=""> enter your message </textarea>
                <input type="submit" value="Send">
                {{message}}
            </section>
        </form>

    </div>