<body>
    <img src="/images/guggan blanco7.png" alt="Guggan">
    <div class="contenedor">
        <div class="cubo">
            <p>GUGGAN ADVISORY TRADE AND LCC</p>
        </div>
    </div>
</body>